--
-- PostgreSQL database dump
--

\restrict BSsBDpq3uLbLG445SXeCR0S0M5No5DRaoJDyPaSn5O2AG5MkTfVxkQKEQtQu0hx

-- Dumped from database version 16.12 (Debian 16.12-1.pgdg13+1)
-- Dumped by pg_dump version 16.12 (Debian 16.12-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.prode_groups DROP CONSTRAINT IF EXISTS prode_groups_owner_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.group_members DROP CONSTRAINT IF EXISTS group_members_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.group_members DROP CONSTRAINT IF EXISTS group_members_group_id_fkey;
DROP INDEX IF EXISTS public.ix_users_username;
DROP INDEX IF EXISTS public.ix_users_id;
DROP INDEX IF EXISTS public.ix_users_email;
DROP INDEX IF EXISTS public.ix_prode_groups_owner_user_id;
DROP INDEX IF EXISTS public.ix_prode_groups_invite_code;
DROP INDEX IF EXISTS public.ix_prode_groups_id;
DROP INDEX IF EXISTS public.ix_group_members_user_id;
DROP INDEX IF EXISTS public.ix_group_members_id;
DROP INDEX IF EXISTS public.ix_group_members_group_id;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.group_members DROP CONSTRAINT IF EXISTS uq_group_member_group_user;
ALTER TABLE IF EXISTS ONLY public.prode_groups DROP CONSTRAINT IF EXISTS prode_groups_pkey;
ALTER TABLE IF EXISTS ONLY public.group_members DROP CONSTRAINT IF EXISTS group_members_pkey;
ALTER TABLE IF EXISTS public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.prode_groups ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.group_members ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.users_id_seq;
DROP TABLE IF EXISTS public.users;
DROP SEQUENCE IF EXISTS public.prode_groups_id_seq;
DROP TABLE IF EXISTS public.prode_groups;
DROP SEQUENCE IF EXISTS public.group_members_id_seq;
DROP TABLE IF EXISTS public.group_members;
DROP TYPE IF EXISTS public.user_role;
--
-- Name: user_role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.user_role AS ENUM (
    'ADMIN',
    'ORGANIZER',
    'PLAYER'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: group_members; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.group_members (
    id integer NOT NULL,
    group_id integer NOT NULL,
    user_id integer NOT NULL,
    role_in_group character varying(20) NOT NULL,
    joined_at timestamp with time zone NOT NULL
);


--
-- Name: group_members_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.group_members_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: group_members_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.group_members_id_seq OWNED BY public.group_members.id;


--
-- Name: prode_groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.prode_groups (
    id integer NOT NULL,
    name character varying(160) NOT NULL,
    description text,
    invite_code character varying(20) NOT NULL,
    owner_user_id integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: prode_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.prode_groups_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: prode_groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.prode_groups_id_seq OWNED BY public.prode_groups.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    username character varying(80) NOT NULL,
    first_name character varying(120) NOT NULL,
    last_name character varying(120) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role public.user_role NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: group_members id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members ALTER COLUMN id SET DEFAULT nextval('public.group_members_id_seq'::regclass);


--
-- Name: prode_groups id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prode_groups ALTER COLUMN id SET DEFAULT nextval('public.prode_groups_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: group_members; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.group_members (id, group_id, user_id, role_in_group, joined_at) FROM stdin;
1	1	1	OWNER	2026-06-01 14:26:41.734818+00
2	1	2	MEMBER	2026-06-01 14:27:25.916278+00
\.


--
-- Data for Name: prode_groups; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.prode_groups (id, name, description, invite_code, owner_user_id, is_active, created_at, updated_at) FROM stdin;
1	Los Pibes del Mundial	Prode entre amigos para competir durante todo el Mundial.	CYQ4HJLW	1	t	2026-06-01 14:26:41.729136+00	2026-06-01 14:26:41.729136+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.users (id, email, username, first_name, last_name, password_hash, role, is_active, created_at, updated_at) FROM stdin;
1	admin@prode.com	admin	Admin	Prode	$2b$12$mLdGkirW.AWpLiYBIfki/eY/1u8ZNP09Js6h6rvB73mbI/aDIaRUq	ADMIN	t	2026-06-01 13:22:53.331059+00	2026-06-01 13:22:53.331059+00
2	jugador@prode.com	jugador	Dante	Jugador	$2b$12$EasFr1vQfOOkDd3HFbPgpuW0j.2jLKabfC1GyuiWimjwPXjrcLkJm	PLAYER	t	2026-06-01 13:38:45.36307+00	2026-06-01 13:38:45.36307+00
\.


--
-- Name: group_members_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.group_members_id_seq', 2, true);


--
-- Name: prode_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.prode_groups_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: group_members group_members_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_pkey PRIMARY KEY (id);


--
-- Name: prode_groups prode_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prode_groups
    ADD CONSTRAINT prode_groups_pkey PRIMARY KEY (id);


--
-- Name: group_members uq_group_member_group_user; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT uq_group_member_group_user UNIQUE (group_id, user_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_group_members_group_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_group_members_group_id ON public.group_members USING btree (group_id);


--
-- Name: ix_group_members_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_group_members_id ON public.group_members USING btree (id);


--
-- Name: ix_group_members_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_group_members_user_id ON public.group_members USING btree (user_id);


--
-- Name: ix_prode_groups_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_prode_groups_id ON public.prode_groups USING btree (id);


--
-- Name: ix_prode_groups_invite_code; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_prode_groups_invite_code ON public.prode_groups USING btree (invite_code);


--
-- Name: ix_prode_groups_owner_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_prode_groups_owner_user_id ON public.prode_groups USING btree (owner_user_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: group_members group_members_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.prode_groups(id) ON DELETE CASCADE;


--
-- Name: group_members group_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: prode_groups prode_groups_owner_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prode_groups
    ADD CONSTRAINT prode_groups_owner_user_id_fkey FOREIGN KEY (owner_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict BSsBDpq3uLbLG445SXeCR0S0M5No5DRaoJDyPaSn5O2AG5MkTfVxkQKEQtQu0hx

