--
-- PostgreSQL database dump
--

\restrict so37JFuttfMbhvFRgriXPv9HP9Y3NfxJgyRBVSKH45bqPoBhMFIxuQFLAjxrSSy

-- Dumped from database version 16.12 (Debian 16.12-1.pgdg13+1)
-- Dumped by pg_dump version 16.12 (Debian 16.12-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.prode_groups DROP CONSTRAINT IF EXISTS prode_groups_owner_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.matches DROP CONSTRAINT IF EXISTS matches_tournament_id_fkey;
ALTER TABLE IF EXISTS ONLY public.matches DROP CONSTRAINT IF EXISTS matches_home_team_id_fkey;
ALTER TABLE IF EXISTS ONLY public.matches DROP CONSTRAINT IF EXISTS matches_away_team_id_fkey;
ALTER TABLE IF EXISTS ONLY public.group_members DROP CONSTRAINT IF EXISTS group_members_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.group_members DROP CONSTRAINT IF EXISTS group_members_group_id_fkey;
DROP INDEX IF EXISTS public.ix_users_username;
DROP INDEX IF EXISTS public.ix_users_id;
DROP INDEX IF EXISTS public.ix_users_email;
DROP INDEX IF EXISTS public.ix_tournaments_year;
DROP INDEX IF EXISTS public.ix_tournaments_id;
DROP INDEX IF EXISTS public.ix_teams_name;
DROP INDEX IF EXISTS public.ix_teams_id;
DROP INDEX IF EXISTS public.ix_teams_code;
DROP INDEX IF EXISTS public.ix_prode_groups_owner_user_id;
DROP INDEX IF EXISTS public.ix_prode_groups_invite_code;
DROP INDEX IF EXISTS public.ix_prode_groups_id;
DROP INDEX IF EXISTS public.ix_matches_world_group;
DROP INDEX IF EXISTS public.ix_matches_tournament_id;
DROP INDEX IF EXISTS public.ix_matches_status;
DROP INDEX IF EXISTS public.ix_matches_prediction_deadline;
DROP INDEX IF EXISTS public.ix_matches_phase;
DROP INDEX IF EXISTS public.ix_matches_match_datetime;
DROP INDEX IF EXISTS public.ix_matches_id;
DROP INDEX IF EXISTS public.ix_matches_home_team_id;
DROP INDEX IF EXISTS public.ix_matches_away_team_id;
DROP INDEX IF EXISTS public.ix_group_members_user_id;
DROP INDEX IF EXISTS public.ix_group_members_id;
DROP INDEX IF EXISTS public.ix_group_members_group_id;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.group_members DROP CONSTRAINT IF EXISTS uq_group_member_group_user;
ALTER TABLE IF EXISTS ONLY public.tournaments DROP CONSTRAINT IF EXISTS tournaments_pkey;
ALTER TABLE IF EXISTS ONLY public.teams DROP CONSTRAINT IF EXISTS teams_pkey;
ALTER TABLE IF EXISTS ONLY public.prode_groups DROP CONSTRAINT IF EXISTS prode_groups_pkey;
ALTER TABLE IF EXISTS ONLY public.matches DROP CONSTRAINT IF EXISTS matches_pkey;
ALTER TABLE IF EXISTS ONLY public.group_members DROP CONSTRAINT IF EXISTS group_members_pkey;
ALTER TABLE IF EXISTS public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.tournaments ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.teams ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.prode_groups ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.matches ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.group_members ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.users_id_seq;
DROP TABLE IF EXISTS public.users;
DROP SEQUENCE IF EXISTS public.tournaments_id_seq;
DROP TABLE IF EXISTS public.tournaments;
DROP SEQUENCE IF EXISTS public.teams_id_seq;
DROP TABLE IF EXISTS public.teams;
DROP SEQUENCE IF EXISTS public.prode_groups_id_seq;
DROP TABLE IF EXISTS public.prode_groups;
DROP SEQUENCE IF EXISTS public.matches_id_seq;
DROP TABLE IF EXISTS public.matches;
DROP SEQUENCE IF EXISTS public.group_members_id_seq;
DROP TABLE IF EXISTS public.group_members;
DROP TYPE IF EXISTS public.user_role;
DROP TYPE IF EXISTS public.match_status;
DROP TYPE IF EXISTS public.match_phase;
--
-- Name: match_phase; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.match_phase AS ENUM (
    'GROUP_STAGE',
    'ROUND_OF_32',
    'ROUND_OF_16',
    'QUARTER_FINAL',
    'SEMI_FINAL',
    'THIRD_PLACE',
    'FINAL'
);


--
-- Name: match_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.match_status AS ENUM (
    'SCHEDULED',
    'CLOSED',
    'LIVE',
    'FINISHED',
    'CANCELLED'
);


--
-- Name: user_role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.user_role AS ENUM (
    'ADMIN',
    'ORGANIZER',
    'PLAYER'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: group_members; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.group_members (
    id integer NOT NULL,
    group_id integer NOT NULL,
    user_id integer NOT NULL,
    role_in_group character varying(20) NOT NULL,
    joined_at timestamp with time zone NOT NULL
);


--
-- Name: group_members_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.group_members_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: group_members_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.group_members_id_seq OWNED BY public.group_members.id;


--
-- Name: matches; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.matches (
    id integer NOT NULL,
    tournament_id integer NOT NULL,
    phase public.match_phase NOT NULL,
    world_group character varying(20),
    home_team_id integer NOT NULL,
    away_team_id integer NOT NULL,
    match_datetime timestamp with time zone NOT NULL,
    prediction_deadline timestamp with time zone NOT NULL,
    status public.match_status NOT NULL,
    home_score integer,
    away_score integer,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: matches_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.matches_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: matches_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.matches_id_seq OWNED BY public.matches.id;


--
-- Name: prode_groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.prode_groups (
    id integer NOT NULL,
    name character varying(160) NOT NULL,
    description text,
    invite_code character varying(20) NOT NULL,
    owner_user_id integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: prode_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.prode_groups_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: prode_groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.prode_groups_id_seq OWNED BY public.prode_groups.id;


--
-- Name: teams; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.teams (
    id integer NOT NULL,
    name character varying(120) NOT NULL,
    code character varying(10) NOT NULL,
    flag_url character varying(500),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: teams_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.teams_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: teams_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.teams_id_seq OWNED BY public.teams.id;


--
-- Name: tournaments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tournaments (
    id integer NOT NULL,
    name character varying(160) NOT NULL,
    year integer NOT NULL,
    description text,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: tournaments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.tournaments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: tournaments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.tournaments_id_seq OWNED BY public.tournaments.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    username character varying(80) NOT NULL,
    first_name character varying(120) NOT NULL,
    last_name character varying(120) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role public.user_role NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: group_members id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members ALTER COLUMN id SET DEFAULT nextval('public.group_members_id_seq'::regclass);


--
-- Name: matches id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.matches ALTER COLUMN id SET DEFAULT nextval('public.matches_id_seq'::regclass);


--
-- Name: prode_groups id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prode_groups ALTER COLUMN id SET DEFAULT nextval('public.prode_groups_id_seq'::regclass);


--
-- Name: teams id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.teams ALTER COLUMN id SET DEFAULT nextval('public.teams_id_seq'::regclass);


--
-- Name: tournaments id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tournaments ALTER COLUMN id SET DEFAULT nextval('public.tournaments_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: group_members; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.group_members (id, group_id, user_id, role_in_group, joined_at) FROM stdin;
1	1	1	OWNER	2026-06-01 14:26:41.734818+00
2	1	2	MEMBER	2026-06-01 14:27:25.916278+00
\.


--
-- Data for Name: matches; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.matches (id, tournament_id, phase, world_group, home_team_id, away_team_id, match_datetime, prediction_deadline, status, home_score, away_score, created_at, updated_at) FROM stdin;
1	1	GROUP_STAGE	A	1	4	2026-06-03 19:00:00+00	2026-06-02 19:00:00+00	FINISHED	2	1	2026-06-01 15:00:36.529388+00	2026-06-01 15:01:42.067108+00
\.


--
-- Data for Name: prode_groups; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.prode_groups (id, name, description, invite_code, owner_user_id, is_active, created_at, updated_at) FROM stdin;
1	Los Pibes del Mundial	Prode entre amigos para competir durante todo el Mundial.	CYQ4HJLW	1	t	2026-06-01 14:26:41.729136+00	2026-06-01 14:26:41.729136+00
\.


--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: tournaments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tournaments (id, name, year, description, is_active, created_at, updated_at) FROM stdin;
1	Mundial 2026	2026	Torneo base para el Prode Mundial 2026.	t	2026-06-01 14:45:22.484382+00	2026-06-01 14:45:22.484382+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.users (id, email, username, first_name, last_name, password_hash, role, is_active, created_at, updated_at) FROM stdin;
1	admin@prode.com	admin	Admin	Prode	$2b$12$mLdGkirW.AWpLiYBIfki/eY/1u8ZNP09Js6h6rvB73mbI/aDIaRUq	ADMIN	t	2026-06-01 13:22:53.331059+00	2026-06-01 13:22:53.331059+00
2	jugador@prode.com	jugador	Dante	Jugador	$2b$12$EasFr1vQfOOkDd3HFbPgpuW0j.2jLKabfC1GyuiWimjwPXjrcLkJm	PLAYER	t	2026-06-01 13:38:45.36307+00	2026-06-01 13:38:45.36307+00
\.


--
-- Name: group_members_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.group_members_id_seq', 2, true);


--
-- Name: matches_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.matches_id_seq', 1, true);


--
-- Name: prode_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.prode_groups_id_seq', 1, true);


--
-- Name: teams_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.teams_id_seq', 16, true);


--
-- Name: tournaments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tournaments_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: group_members group_members_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_pkey PRIMARY KEY (id);


--
-- Name: matches matches_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_pkey PRIMARY KEY (id);


--
-- Name: prode_groups prode_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prode_groups
    ADD CONSTRAINT prode_groups_pkey PRIMARY KEY (id);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (id);


--
-- Name: tournaments tournaments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tournaments
    ADD CONSTRAINT tournaments_pkey PRIMARY KEY (id);


--
-- Name: group_members uq_group_member_group_user; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT uq_group_member_group_user UNIQUE (group_id, user_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_group_members_group_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_group_members_group_id ON public.group_members USING btree (group_id);


--
-- Name: ix_group_members_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_group_members_id ON public.group_members USING btree (id);


--
-- Name: ix_group_members_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_group_members_user_id ON public.group_members USING btree (user_id);


--
-- Name: ix_matches_away_team_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_matches_away_team_id ON public.matches USING btree (away_team_id);


--
-- Name: ix_matches_home_team_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_matches_home_team_id ON public.matches USING btree (home_team_id);


--
-- Name: ix_matches_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_matches_id ON public.matches USING btree (id);


--
-- Name: ix_matches_match_datetime; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_matches_match_datetime ON public.matches USING btree (match_datetime);


--
-- Name: ix_matches_phase; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_matches_phase ON public.matches USING btree (phase);


--
-- Name: ix_matches_prediction_deadline; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_matches_prediction_deadline ON public.matches USING btree (prediction_deadline);


--
-- Name: ix_matches_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_matches_status ON public.matches USING btree (status);


--
-- Name: ix_matches_tournament_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_matches_tournament_id ON public.matches USING btree (tournament_id);


--
-- Name: ix_matches_world_group; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_matches_world_group ON public.matches USING btree (world_group);


--
-- Name: ix_prode_groups_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_prode_groups_id ON public.prode_groups USING btree (id);


--
-- Name: ix_prode_groups_invite_code; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_prode_groups_invite_code ON public.prode_groups USING btree (invite_code);


--
-- Name: ix_prode_groups_owner_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_prode_groups_owner_user_id ON public.prode_groups USING btree (owner_user_id);


--
-- Name: ix_teams_code; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_teams_code ON public.teams USING btree (code);


--
-- Name: ix_teams_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_teams_id ON public.teams USING btree (id);


--
-- Name: ix_teams_name; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_teams_name ON public.teams USING btree (name);


--
-- Name: ix_tournaments_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_tournaments_id ON public.tournaments USING btree (id);


--
-- Name: ix_tournaments_year; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_tournaments_year ON public.tournaments USING btree (year);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: group_members group_members_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.prode_groups(id) ON DELETE CASCADE;


--
-- Name: group_members group_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: matches matches_away_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_away_team_id_fkey FOREIGN KEY (away_team_id) REFERENCES public.teams(id) ON DELETE RESTRICT;


--
-- Name: matches matches_home_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_home_team_id_fkey FOREIGN KEY (home_team_id) REFERENCES public.teams(id) ON DELETE RESTRICT;


--
-- Name: matches matches_tournament_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_tournament_id_fkey FOREIGN KEY (tournament_id) REFERENCES public.tournaments(id) ON DELETE CASCADE;


--
-- Name: prode_groups prode_groups_owner_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prode_groups
    ADD CONSTRAINT prode_groups_owner_user_id_fkey FOREIGN KEY (owner_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict so37JFuttfMbhvFRgriXPv9HP9Y3NfxJgyRBVSKH45bqPoBhMFIxuQFLAjxrSSy

